/* Variables */
:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --dark-bg-text-color: #ffffff;
  --address-text-color: rgba(255, 255, 255, 0.6);
  --light-bg-text-color: #000000;
  --accent-color: #2196f3;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --dark-bg-color: #2f303a;
}

/* Utility Classes */

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1200px;
  /* outline: 1px solid teal; */
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

.btn {
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--dark-bg-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

/* Specific CSS Rulesets */

/* logo */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo--dark {
  color: var(--light-bg-text-color);
}

.logo--light {
  color: var(--dark-bg-text-color);
}

/* nav */
.page-header {
  border-bottom: 1px solid #ececec;
}
.header-nav {
  display: flex;
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  margin-left: 95px;
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.nav-item:not(:last-child),
.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link,
.contacts-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link {
  color: var(--title-text-color);
}

.contacts-link:hover,
.contacts-link:focus,
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-link--active {
  color: var(--accent-color);
}

/* hero section */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--dark-bg-color);
}

.hero-content {
  margin-right: auto;
  margin-left: auto;
  max-width: 696px;
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--dark-bg-text-color);
}

.hero-btn {
  padding: 10px 32px;
}

/* benefits */

.benefits-list {
  display: flex;
  margin-left: -30px;
}

.benefits-item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin-left: 30px;
}

.benefits-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

/* services */

.services {
  padding-top: 0;
}
.services-list {
  display: flex;
  justify-content: space-between;
}

/* team section */

.team {
  background-color: var(--secondary-bg-color);
}

.team-list {
  display: flex;
  margin-left: -30px;
}

.team-item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin-left: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--main-bg-color);
}

.teammate-info {
  padding: 30px 0;
}

.teammate-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
}

.teammate-position {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* footer */
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-color);
}

.page-footer .logo {
  display: block;
  margin-bottom: 20px;
}

.address-item {
  margin-bottom: 9px;
}

.location,
.email,
.tel {
  font-style: normal;
}

.location {
  color: var(--dark-bg-text-color);
}

.email,
.tel {
  color: var(--address-text-color);
}

.location:hover,
.location:focus,
.email:hover,
.tel:hover,
.email:focus,
.tel:focus {
  color: var(--accent-color);
}

/* PORTFOLIO */

/* Filters */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  cursor: pointer;
}
.filter-btn--active {
  color: var(--dark-bg-text-color);
  background-color: var(--accent-color);
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--dark-bg-text-color);
  background-color: var(--accent-color);
}

/* gallery */

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-left: -30px;
}

.gallery-item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-bottom: 30px;
  margin-left: 30px;
  border: 1px solid #eeeeee;
}

.gallery-item__desc {
  padding: 20px 0 20px 24px;
}

.gallery-item__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.gallery-item__type {
  font-size: 16px;
  line-height: 1.87;
}
